* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }
    body {
        background: #f4f4f4;
        color: #333;
    }
    .navbar {
        background: #333;
        color: white;
        padding: 15px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

     .container {
            width: 100%;
            margin: auto;
            padding: 10px;
    }
    .project {
        background: white;
        margin: 20px 0;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .project img {
        width: 180px;
        height: auto;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }
    .project img:hover {
        transform: scale(1.05);
    }
    .project-text {
        flex: 1;
    }
    .project h2 {
        color: #faee4b ;
        margin-bottom: 10px;
    }
    .contact {
        background: #007BFF;
        color: white;
        text-align: center;
        padding: 20px;
        margin-top: 20px;
        font-size: 18px;
    }

    @media (max-width: 768px) {
        .project {
            flex-direction: column;
            text-align: center;
        }
        .project img {
            width: 100%;
            max-width: 300px;
        }
    }

